* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  color: #000;
}
.error {
  display: none;
  margin-bottom: 30px;
  font-size: 35px;
  font-weight: bold;
  color:red;
}
.wrapper {
  font-family: sans-serif;
  height: 100vh;
  min-height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(117.03deg, rgba(168, 109, 67, 0.5) 0%, rgba(189, 88, 88, 0.5) 53.13%, #522810 100%, rgba(82, 40, 16, 0.5) 100%);
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 900px;
  height: 800px;
  background: #FFFFFF;
  border-radius: 30px;
}
.header_h1 {
  font-weight: 700;
    font-size: 40px;
    line-height: 48px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.header_h1d {font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  display: none;
  padding-top: 40px;
  margin-bottom: 150px;
}
span {
  font-weight: 400;
    font-size: 25px;
    line-height: 30px;
}
input {
  width: 450px;
  height: 60px;
  background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 3px 2px 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    font-size: 40px;
    text-align: center;
}
.form_block1 {
  padding-bottom: 25px;
}
.form_block2 {
  padding-bottom: 25px;
}
.form_block3 {
  padding-bottom: 25px;
}
.zp {
  margin-bottom: 25px;
}
.hours {
  margin-bottom: 25px;
}
.hour {
  margin-bottom: 50px;
}
.result {
  border:none;
  width: 450px;
    height: 70px;
  background: #A0D398;
    border-radius: 40px;
    font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 36px;
      margin-bottom: 35px;
}
.result:hover {
  background: #679d5f;
  cursor: pointer;
}
.h1result {
  display: none;
  font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    margin-bottom: 90px;
}
.infohome {
  font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
.info-zp {
  display: none;
  font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}
.info-zp_p {
  display: none;
  font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    margin-left: 40px;
    margin-right: 40px;
}
.clear {
  display: none;
  border: none;
    width: 450px;
    height: 70px;
    background: #A0D398;
    border-radius: 40px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 35px;
    margin-bottom: 80px;
}
.clear:hover {
  background: #679d5f;
    cursor: pointer;
}

@media (max-width: 450px) {
  .wrapper {
    width: 100%;
  }
  .container {
    width: 95%;
  }
    .header_h1 {
      padding-top: 35px;
      padding-bottom: 40px;
      font-weight: 700;
        font-size: 25px;
        line-height: 30px;
    }
  
    .header_h1d {
      display: none;
      padding-top: 35px;
      margin-bottom: 200px;
      font-weight: 700;
        font-size: 25px;
        line-height: 30px;
    }
        span {
          font-weight: 400;
            font-size: 15px;
            line-height: 18px;
        }
                input {
                  width: 310px;
                    height: 60px;
                  background: #FFFFFF;
                  border: 1px solid #000000;
                  box-shadow: 3px 2px 20px rgba(0, 0, 0, 0.2);
                  border-radius: 15px;
                  font-size: 25px;
                  text-align: center;
                }
        
                .form_block1 {
                  padding-bottom: 20px;
                }
        
                .form_block2 {
                  padding-bottom: 20px;
                }
        
                .form_block3 {
                  padding-bottom: 20px;
                }
                                .zp {
                                  margin-bottom: 20px;
                                }
                
                                .hours {
                                  margin-bottom: 20px;
                                }
                
                                .hour {
                                  margin-bottom: 40px;
                                }
                                  .result {
                                  border: none;
                                  width: 310px;
                                  height: 55px;
                                  background: #A0D398;
                                  border-radius: 40px;
                                  font-style: normal;
                                  font-weight: 700;
                                  font-size: 20px;
                                  line-height: 36px;
                                  margin-bottom: 30px;
                                }
                    .h1result {
                      display: none;
                      font-weight: 700;
                      font-size: 40px;
                      line-height: 73px;
                      margin-bottom: 90px;
                    }
          
                    .infohome {
                      font-weight: 400;
                      font-size: 11px;
                      margin-left: 15px;
                      margin-right: 15px;
                      line-height: 24px;
                    }
                    .info-zp {
                      display: none;
                      font-weight: 700;
                      font-size: 20px;
                      line-height: 36px;
                    }
          
                    .info-zp_p {
                      display: none;
                      font-weight: 400;
                      font-size: 20px;
                      line-height: 36px;
                      margin-left: 20px;
                      margin-right: 20px;
                    }

                    .clear {
                      display: none;
                      border: none;
                      width: 310px;
                      height: 55px;
                      background: #A0D398;
                      border-radius: 40px;
                      font-style: normal;
                      font-weight: 700;
                      font-size: 20px;
                      line-height: 36px;
                      margin-bottom: 35px;
                      margin-bottom: 80px;
                    }
}